body{
  width: 500px;
  margin: 0 auto;
}
.clearfix::after{
  clear: both;
  display: table;
  content: '';
}

/* header section*/
.hdr {
  padding: 0px 25px;
  border: 1px solid black;
  margin-bottom: 20px;
  margin: 20px 0px;
  background-color: #f5f5f5;
  }
  
  .logo {
    float: left;
  }
  
  .btn-toggle {
    float: right;
  }

  .hdr .btn-toggle {
    width: 45px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
    position: relative;
  }

  .hdr .btn-toggle span {
    position: absolute;
    left: 10px;
    width: 25px;
    height: 2px;
    display: inline-block;
    background: #141414;
  }

  .hdr .btn-toggle span:nth-child(1) {
    top: 8px;
  }

  .hdr .btn-toggle span:nth-child(2) {
    top: 15px;
  }

  .hdr .btn-toggle span:nth-child(3) {
    top: 21px;
  }

.panel-heading{
  background-color: #f5f5f5;
  padding: 12px;
  border-bottom: 1px solid black;
}

.panel-body {
  padding: 20px 10px 30px;
}

.col-sm-6 {
  margin-top: 15px;
}

input#task-name {
  width: 450px;
  padding: 10px;
  border: 1px solid black;
}

button.btn.btn-default {
  padding: 5px 20px;
}

th {
  text-align: justify;
}

tr,td,th{
  padding: 10px;
}

tr{
  border-bottom: 1px solid black;
}

.panel.panel-default {
  border: 1px solid black;
  margin-bottom: 20px;
}

table.table.table-striped.task-table {
  border-collapse: collapse;
  margin-top: -8px;
  width: 450px;
}

.delete{
  background-color: red;
  border: none;
  color: white;
  padding: 10px 20px;
}
