* {
  box-sizing: border-box;
}

body{
  text-align: center;
}

h1{
  margin: 20px 0 0 0;
  font-size: 30px;
}

form{
  display: inline-block;
  width: 30%;
}

input.dob {
  margin: 20px 0px;
  padding: 10px 50px;
  border-radius: 10px;
  border: 1px solid black;
}

.up-btn{
  text-align: center;
}

input.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(19, 19, 49);
  color: white;
}
